@font-face {
  font-family: "DS-DIGIT";
  src: url("./DS-DIGIT.ttf");
}
@font-face {
  font-family: "PingFang SC";
  src: url("./PingFang SC Regular.ttf");
}
@font-face {
  font-family: "DIN Alternate";
  src: url("./DINAlternate-Bold.ttf");
}
@font-face {
  font-family: "Adobe Heiti Std";
  src: url("./Adobe Heiti Std R.otf");
}
@font-face {
  font-family: "DIN Black";
  src: url("./DIN-Black-2.otf");
}